* {
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased!important;
	
}
a {
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
}
p {
	font-family: 'Montserrat', sans-serif;	
}

@media (min-width:320px) {
	/* Styling the page for mobile phones from 320px and larger */
	/* Styling the header */
	.headerWrapper {
		background-image: url(Pictures/background.jpg);
		background-position: center;
		background-size: cover;

	}
	/* Styling the navigation bar */
	.navigationBarWrapper {
		background: white;
		width: 100%;
		
	}
	/* Styling the logo wrapper */
	.logoWrapper {
		margin: 1em;
		font-size: .8em;
	}
	/* Styling the navigation */
	.mainNavWapper {
		
		text-align: center;
	}
	.mainNavWapper nav ul {
		list-style: none; 
		
	}
	.mainNavWapper nav ul li {
		padding: .7em;
		border-bottom: solid .1px #d6bd8f;
		width: 40%;
		margin: auto;
		
	}
	/* Styling the navigation */
	.buttonWrapper {
		text-align: center;
		
	}
	.buttonWrapper button {
		border-radius: 2px;
		padding: 10px 40px 10px 40px; 
		margin-top: 1.5em;
		background: none;
		border: solid 2px  #d6bd8f ;
		color:  #d6bd8f;
		font-weight: 700;
		margin-bottom: 2em;
		transition-property: background, color, transform ;
		transition-duration: .5s;
		transition-timing-function: ease;
	}
	.buttonWrapper button:hover {
		transform: translateY(-4px);
		background:  #d6bd8f;
		color: white;

	}
	/* Styling the title wrapper */
	.titleWrapper {
		color: white;
		background: black;
		width: 100%;
		padding: 5em 0;
		
		

		}
	.titleWrapper h1 {
		font-size: 1.6em; 
		width: 80%; 
		margin: auto;
		padding-top: 2em;
	
	}
	.titleWrapper span {
		color:  #d6bd8f;
		font-style: italic;
	}
	.titleWrapper p {
		font-size: .8em;
		width: 80%;
		margin: auto;
		margin-top: 1em;
	}
	.titleWrapper button {
		border-radius: 2px;
		padding: 10px 40px 10px 40px; 
		margin: 4em 31%;
		background: none;
		border: solid 2px  #d6bd8f ;
		color:  #d6bd8f;
		font-weight: 700;
		margin-bottom: 2em;
		transition-property: background, color, transform ;
		transition-duration: .5s;
		transition-timing-function: ease; 
		
	}
	.titleWrapper button:hover {
		transform: translateY(-4px);
		background:  #d6bd8f;
		color: white;

	}
	/* Styling the introduction wrapper */
	.introWrapper {
		display: grid;
		grid-template-columns: 1fr; 
		width: 80%;
		margin: auto;
		margin-bottom: 4em;
		
	}
	/* Styling the introduction wrapper DIVS */
	.introWrapperText {
		margin-top: 2em;
		
	}
	.introWrapperText  h2 {
		font-size: 1.6em;
		font-weight: 300;
	}
	.introWrapperText hr {
		width: 5em;
		margin: 1em 0;
		height: 2px;
		color: #d6bd8f;
		background: #d6bd8f;
		border: none;
	}
	.introWrapperText p {
		font-size: .9em;
		margin-bottom: 2em;
	}
	.introWrapperIMG img {
		width: 100%;
	}
	/* Styling the chef section */
	.chefWrapperBackground {
		background-image: url(Pictures/lowerbackground.jpg);
		background-size: cover;
	}
	.chefWrapper {
		width: 80%;
		margin: auto;
		color: white;
		text-align: center;
		padding-bottom: 2em;
		
	}
	.chefWrapper  h3 {
		font-size: 1.45em;
		padding-top: 4em; 
	}
	.chefWrapper hr {
		width: 5em;
		margin: auto;
		height: 2px;
		color: #d6bd8f;
		background: #d6bd8f; 
		border: none;
		margin-top: 1em;
		margin-bottom: 1em
	}
	.chefWrapper p {
		font-size: .9em; 
		margin-bottom: 2em;
		font-weight: 500;
	}
	/* Styling the chef cards */
	.chefCard {
		
	}
	.chefCard i {
		font-size: 2em;
		color: #d6bd8f;

	}
	.chefCard h4 {
		margin-top: 1em;
		font-size: 1.4em;
	}
	.chefCard p {
		margin-top: 1em;
	}
	/* Styling the menu */
	.menuWrapper {
		width: 100%;
	}
	.menuWrapper h4 {
		text-align: center;
		font-size: 2em;
		font-weight: 200;
		margin-top: 2em;
		
	}
	.menuWrapper p {
		padding-top: 1em;
		width: 90%;
		text-align: center;
		margin: auto;
		font-size: .9em;
	}
	/* Styling the menu Cards*/
	/* Styling the first menu card*/
	.MenuCard1Background {
		background:  #eee;
		padding-bottom: 1em;
	}
	.MenuCard1 {
		width: 90%;
		margin: auto;
	}
	.MenuCard1 h4 {
		margin-bottom: 1em;
		padding-top: 1em;
	}
	.MenuItem {
		width: 80%;
		margin: auto;
		margin-top: 1em;
	}
	.MenuItem p {
		font-size: .8em;
		padding: 0;
		margin-top: 1em;
		width: 90%;
		margin-bottom: 2em;
		font-weight: 400;
		text-align: left;
	}
	/* Getting the price and name of food on the same line */
	.itemPrice {
		display: grid;
		grid-template-columns: 70% 30%;
		
	}
	.itemPrice h5 {
		font-size: 1em;
		font-weight: 400;

	}
	.itemPrice h6 {
		text-align: right;
		font-size: 1em;
		font-family: 'Montserrat', sans-serif;	
		font-weight: 400;

	}
	/* Styling the IMG menu card*/
	.IMGcard {
		margin: 0;
		padding: 0;
		
		
	}
	.IMGcard img {
		width: 100%;
		height: 100%;
	}
	
	/* Formatting the cards into a grid layout*/
	.MenuCards {
		display: grid;
		grid-template-columns: 1fr;
	}



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}

